table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    text-align: left;
    padding: 2px;
  }

  th{
      background-color: cornflowerblue
    }
    
  tr:nth-child(even) {background-color: #f2f2f2;}