<div class="row">
  <div class="col-md-6">
      <button (click) = "addPost()">Add Post</button>
      <h2>Posts</h2>
      <table>
          <tr>
              <th>User Id</th>
              <th>Title</th>
              <th>Body</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
          <tr *ngFor="let post of posts" >
            <td>{{ post.userId }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td><button (click) = "editPost(post.id)">&#9998;</button></td>
            <td><button (click) = "removePost(post.id)">&#10006;</button></td>
          </tr>
        </table>
  </div>
</div>
