<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experience</title>

</head>

<body>
    <div class="container-fluid" id="mainDiv">
        <div class="page-header">
            <h3>Experience</h3>
        </div>

        <button type="button" class="btn btn-info" (click)="addExperience()">+</button>

        <button type="button" class="btn btn-info" (click)="removeExperience()">-</button>

        <div class="card">
            <div class="card-header bg-info text-white">Experience Details</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td class="text-primary">No of Degrees</td>
                        <td>:</td>
                        <td>{{experienceDetails.noOfDegrees}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">No of Previous Employeer</td>
                        <td>:</td>
                        <td>{{experienceDetails.noOfPreviousEmployeer}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Total Experice(months)</td>
                        <td>:</td>
                        <td>{{experienceDetails.totalExperience}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div *ngFor="let previousWorkExperience of previousWorkExperiences; let i = index">
            <div class="card">
                <div class="card-header bg-info text-white">Previous Work Experience - {{i+1}}</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td class="text-primary">Hire Date</td>
                            <td>:</td>
                            <td>{{previousWorkExperience.hireDate | date}}</td>
                        </tr>
                        <tr>
                            <td class="text-primary">End Date</td>
                            <td>:</td>
                            <td>{{previousWorkExperience.endDate | date}}</td>
                        </tr>
                        <tr>
                            <td class="text-primary">Employeer</td>
                            <td>:</td>
                            <td>{{previousWorkExperience.employeer}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

</body>

</html>