/* 
h1 {
    color: white;
    background-color: forestgreen;
    width: 1250px;
    text-align: center;
}

h2 {
    color: white;
    background-color: forestgreen;
    width: inherit;
    text-align:center;
}

h3 {
    color: white;
    background-color: darkcyan;
    width: inherit;
    text-align: center;
}

h5 {
    color: cornflowerblue;
}

td {
    text-align:center
}

h4 {
    color: white;
    background-color: cadetblue;
    width: unset;
    text-align: center;
}

.logo {
    height: 100px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('/home/assets/Kajal_Gray_Background.jpg') no-repeat center center;
} */

h3 {
    color: white;
    background-color: darkcyan;
    width: 30rem;
    text-align: center;
}

.card {
    width: 30rem;
}

.page-header {
    width: 30rem;
    text-align: center;
}
.card-header{
    text-align: center;
}