<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contactMe">Contact Me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="experience">Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="profileHighlight">Profile Highlight</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="project">Project</a>
    </li>
</ul>
<router-outlet></router-outlet>