<h2>Enter Previous Experience</h2>

<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="hireDate">Hire Date:</label>
    <input type="date" formControlName="hireDate" placeholder="dd-mm-yyyy" name="hireDate" class="form-control" id="hireDate">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="date" formControlName="endDate" placeholder="dd-mm-yyyy" name="endDate" class="form-control" id="endDate">
  </div>
  <div class="form-group">
    <label for="employeer">Employeer:</label>
    <input type="text" formControlName="employeer" placeholder="Employeer" name="employeer" class="form-control" id="employeer">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>