h3 {
    color: white;
    background-color: darkcyan;
    width: 30rem;
    text-align: center;
}

.card {
    width: 30rem;
}

.page-header {
    width: 30rem;
    text-align: center;
}
.card-header{
    text-align: center;
}