<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Biography</title>
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Personal Biography</h3>
        </div>

        <div class="card">
            <div class="card-header bg-info text-white">My Address</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td class="text-primary">#</td>
                        <td>:</td>
                        <td>{{addresss.houseNo}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Street</td>
                        <td>:</td>
                        <td>{{addresss.street}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Area</td>
                        <td>:</td>
                        <td>{{addresss.area}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Pin</td>
                        <td>:</td>
                        <td>{{addresss.pin}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header bg-info text-white">Contact Details</div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td class="text-primary">Emergency Contact</td>
                        <td>:</td>
                        <td>{{contact.emergencyContact}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Mobile</td>
                        <td>:</td>
                        <td>{{contact.mobile}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Land Line</td>
                        <td>:</td>
                        <td>{{contact.landLine}}</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Email Id</td>
                        <td>:</td>
                        <td>{{contact.email}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>

</html>