<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Me</title>

</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Contact Me</h3>
        </div>
        <form [formGroup]="addForm">
            <div class="form-group">
                <label for="username">Name:</label>
                <input type="text" id="username" name="username" placeholder="User Name" class="form-control"
                    required />
                <label for="usermobile">Mobile:</label>
                <input type="number" id="usermobile" name="userobile" placeholder="9876543210" class="form-control"
                    required />
                <label for="useremail">Mail id:</label>
                <input type="email" id="useremail" name="useremail" placeholder="abcd@efgh.com" class="form-control"
                    required />
                <label for="userremarks">Remarks</label>
                <textarea rows=3 cols="16" name="userremarks" placeholder="Remarks" class="form-control"
                    required></textarea>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</body>

</html>