<div class="row">
    <div class="col-md-6">
        <h2>Books</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Publish Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let book of books" >
              <td>{{ book.title }}</td>
              <td>{{ book.volume }}</td>
              <td>{{ book.price }}</td>
              <td>{{ book.publish_date }}</td>
              <td><button (click) = "editBook(book.book_id)">&#9998;</button></td>
              <td><button (click) = "removeBook(book.book_id)">&#10006;</button></td>
            </tr>
          </table>
    </div>
</div>
