<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects</title>

</head>

<body>
  <div class="container-fluid">
    <div class="page-header">
      <h3>Projects</h3>
    </div>

    <button type="button" class="btn btn-info" (click)="addProject()">+</button>

    <button type="button" class="btn btn-info" (click)="removeProject()">-</button>
    <input type="hidden" value="1" id="divAssignmentHid" />
    <div *ngFor="let project of projects; let i=index">
      <div class="card">
        <div class="card-header bg-info text-white">Project - {{i + 1}}</div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td class="text-primary">Project Id</td>
              <td>:</td>
              <td>{{project.projectId}}</td>
            </tr>
            <tr>
              <td class="text-primary">Project Name</td>
              <td>:</td>
              <td>{{project.projectName}}</td>
            </tr>
            <tr>
              <td class="text-primary">Start Date</td>
              <td>:</td>
              <td>{{project.startDate | date}}</td>
            </tr>
            <tr>
              <td class="text-primary">End Date</td>
              <td>:</td>
              <td>{{project.endDate | date}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <br>
    <button type="button" class="btn btn-info" (click)="addAssignment()">+</button>

    <button type="button" class="btn btn-info" (click)="removeAssignment()">-</button>
    <input type="hidden" value="1" id="divProjectHid" />
    <div *ngFor="let assignment of assignments; let i=index">
      <div class="card">
        <div class="card-header bg-info text-white">Assignment - {{i+1}}</div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td class="text-primary">Customer Id</td>
              <td>:</td>
              <td>{{assignment.customerId}}</td>
            </tr>
            <tr>
              <td class="text-primary">Customer Name</td>
              <td>:</td>
              <td>{{assignment.customerName}}</td>
            </tr>
            <tr>
              <td class="text-primary">Assignment Start Date</td>
              <td>:</td>
              <td>{{assignment.startDate | date}}</td>
            </tr>
            <tr>
              <td class="text-primary">Assignment End Date</td>
              <td>:</td>
              <td>{{assignment.endDate | date}}</td>
            </tr>
            <tr>
              <td class="text-primary">Project Location</td>
              <td>:</td>
              <td>{{assignment.location}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</body>

</html>