<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Highlights</title>
</head>

<body>

  <div class="container-fluid">
    <div class="page-header">
      <h3>Profile Highlights</h3>
    </div>

    <div class="card">
      <div class="card-header bg-info text-white">My Profile</div>
      <div class="card-body">
        <table class="table">
          <tr>
            <td class="text-primary">Total Experience</td>
            <td>:</td>
            <td>{{myProfile.totalExperience}}yr</td>
          </tr>
          <tr>
            <td class="text-primary">Domain</td>
            <td>:</td>
            <td>{{myProfile.domian}}</td>
          </tr>
          <tr>
            <td class="text-primary">Skill</td>
            <td>:</td>
            <td>{{myProfile.skill}}</td>
          </tr>
          <tr>
            <td class="text-primary">Technologies</td>
            <td>:</td>
            <td>
              <table class="table-striped">
                <tr *ngFor="let technology of myProfile.technologies">
                  <td>{{technology}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</body>

</html>