
<div class="row">
    <h2>Edit Book</h2>
    <div class="col-md-6">
        <form [formGroup] = "editForm" (ngSubmit) = "onSubmit()">
          <div class="form-group">
              <input type="hidden" formControlName="book_id" placeholder="Id" name="book_id" class="form-control" id="book_id">
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" formControlName="price" placeholder="Price" name="price" class="form-control" id="price">
          </div>
          <div class="form-group">
            <label for="volume">Volume:</label>
            <input type="number" formControlName="volume" placeholder="Volume" name="volume" class="form-control" id="volume">
          </div>
          <div class="form-group">
            <label for="publish_date">Publish Date:</label>
            <input formControlName="publish_date" placeholder="Publish Date" name="publish_date" class="form-control" id="publish_date">
          </div>
          <button class="btn btn-success">Update</button>
        </form>
      </div>
</div>

