<div class="container">
  <h2>Task Manager</h2>         
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bg-secondary text-white">Task 1</td>
        <td class="bg-secondary text-white">Parent Task 1</td>
        <td>1</td>
        <td>2018-01-01</td>
        <td>2018-07-07</td>
        <td><button type="button" class="btn btn-secondary">Edit Task</button></td>
        <td><button type="button" class="btn btn-secondary">End Task</button></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bg-secondary text-white">Task 2</td>
        <td class="bg-secondary text-white">Parent Task 2</td>
        <td>2</td>
        <td>2019-01-01</td>
        <td>2018-04-04</td>
        <td><button type="button" class="btn btn-secondary">Edit Task</button></td>
        <td><button type="button" class="btn btn-secondary">End Task</button></td>
      </tr>
    </tbody>
  </table>
</div>

